<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="ed5da51e-7d37-4618-baae-385cd5256b00" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-02-19T18:44:24" updateDate="2020-02-19T18:44:24" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1047" nodeTypeAlias="home">
    <blog id="1052" key="1527489b-fe17-460f-8c15-4236b8eb9162" parentID="1049" level="2" creatorID="1" sortOrder="0" createDate="2020-02-21T15:52:00" updateDate="2020-02-21T15:52:00" nodeName="Blog" urlName="blog" path="-1,1049,1052" isDoc="" nodeType="1051" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1050" nodeTypeAlias="blog" />
    <portfolio id="1055" key="492ca656-75d4-424b-bf69-bc4eb7a20bb8" parentID="1049" level="2" creatorID="1" sortOrder="1" createDate="2020-02-21T16:55:27" updateDate="2020-02-21T16:55:27" nodeName="Portfolio" urlName="portfolio" path="-1,1049,1055" isDoc="" nodeType="1054" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1053" nodeTypeAlias="portfolio" />
    <services id="1058" key="96719ebb-a8cd-438c-8919-f26bdd34fe94" parentID="1049" level="2" creatorID="1" sortOrder="2" createDate="2020-02-21T17:35:11" updateDate="2020-02-21T17:35:11" nodeName="Services" urlName="services" path="-1,1049,1058" isDoc="" nodeType="1057" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1056" nodeTypeAlias="services" />
    <content id="1061" key="120f9b7c-e056-4bff-8e69-3622cf8a3ba3" parentID="1049" level="2" creatorID="1" sortOrder="3" createDate="2020-02-21T17:47:43" updateDate="2020-02-21T17:47:43" nodeName="About" urlName="about" path="-1,1049,1061" isDoc="" nodeType="1060" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1059" nodeTypeAlias="content" />
    <contact id="1064" key="03ab6422-fd8e-47a9-b5d8-e8983eb8bb39" parentID="1049" level="2" creatorID="1" sortOrder="4" createDate="2020-02-21T17:57:13" updateDate="2020-02-21T17:57:13" nodeName="Contact" urlName="contact" path="-1,1049,1064" isDoc="" nodeType="1063" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1062" nodeTypeAlias="contact" />
  </home>
</root>