<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="ed5da51e-7d37-4618-baae-385cd5256b00" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-02-19T18:44:24" updateDate="2020-02-19T18:44:24" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1047" nodeTypeAlias="home" />
</root>